<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>AngularJS Tutorials</title>
</head>

<body ng-app="httpApp">
    <main ng-controller="httpController">
        <div class="post" ng-repeat="post in posts">
            <h2 class="post-title">{{ post.title }}</h2>
            <p class="post-body">{{ post.body }}</p>
            <div class="comments">
                <li class="comment" ng-repeat="comment in post.comments">
                    {{ comment.body }}
                </li>
            </div>
            <button ng-click="getComments(post.id)">See Comments</button>
        </div>
    </main>

    <script src="./http.js"></script>
    <script src="./services/data-service.js"></script>
    <script src="./controllers/http-controller.js"></script>
</body>

</html>